# Created by https://www.toptal.com/developers/gitignore/api/scala,maven,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,maven,intellij

.idea
tweets*

# CMake
cmake-build-*/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### Scala ###
*.class
*.log

# End of https://www.toptal.com/developers/gitignore/api/scala,maven,intellij